<div class="container">
  <div class="box">
    <div class="header">
      <div class="title-box">
        <h1>Budget Planner V0.1</h1>
      </div>
      <p style="font-size: 70%;">by Dan Timefly</p>
    </div>


    <ul class="nav nav-tabs md-tabs navbar-dark bg-light">
      <li class="nav-item">
        <a class="nav-link active" href="/billing-list">Billing List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/analytics">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Calculations</a>
      </li>
    </ul>
  </div>
</div>
